In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("WeatherData.csv")

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df2 = pd.read_excel("weather_data.xlsx", "Sheet1")

In [9]:
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [16]:
# Using a python dictionary
weather_Data = {
    'Day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'Temperature': [32, 35, 28],
    'Event': ['Rain', 'Sunny', 'Snow']
}
df3 = pd.DataFrame(weather_Data)

In [14]:
df3

        Day  Temperature  Event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow

In [15]:
# Using tuples list
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]

df4 = pd.DataFrame(weather_data, columns=["day", "temperature", "windspeed", "event"])
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [17]:
# Using dictionary list
Weather_Data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df5 = pd.DataFrame(Weather_Data)
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [18]:
# pandas.io