In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WeatherData.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
weather_data = {
    'Day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017',  '1/5/2017', '1/6/2017',],
    'Tempurature': [32, 35, 28, 24, 32, 31],
    'Windspeed': [6, 7, 2, 7, 4, 2],
    'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)

In [5]:
df

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.shape

(6, 4)

In [7]:
rows, columns = df.shape

In [8]:
rows

6

In [9]:
columns

4

In [10]:
df.head()

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [11]:
df.head(2)

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [12]:
df.tail(1)

        Day  Tempurature  Windspeed  Event
5  1/6/2017           31          2  Sunny

In [13]:
df[2:5]

        Day  Tempurature  Windspeed Event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [14]:
df[:]

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
df.columns

Index(['Day', 'Tempurature', 'Windspeed', 'Event'], dtype='object')

In [16]:
df.Day #df['Day'] #Print one specific column data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [17]:
df.Tempurature

0    32
1    35
2    28
3    24
4    32
5    31
Name: Tempurature, dtype: int64

In [18]:
type(df.Event) #Type of column

pandas.core.series.Series

In [19]:
df[['Event']] #Print specific column

   Event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [20]:
df[['Tempurature', 'Windspeed', 'Event']]

   Tempurature  Windspeed  Event
0           32          6   Rain
1           35          7  Sunny
2           28          2   Snow
3           24          7   Snow
4           32          4   Rain
5           31          2  Sunny

In [21]:
df

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
df['Tempurature'].max()

35

In [23]:
df['Windspeed'].max()

7

In [24]:
df['Tempurature'].min()

24

In [25]:
df['Tempurature'].std()

3.8297084310253524

In [26]:
df.describe() #Quickly print the status of the data set

       Tempurature  Windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df[df.Tempurature >= 32] #Querrys whose tempurature is gretter or equal to 32

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [35]:
df[df.Tempurature == df['Tempurature'].max()]

        Day  Tempurature  Windspeed  Event
1  1/2/2017           35          7  Sunny

In [37]:
df[df.Tempurature == df['Tempurature'].max()]

        Day  Tempurature  Windspeed  Event
1  1/2/2017           35          7  Sunny

In [38]:
df[df.Tempurature == df.Tempurature.min()]

        Day  Tempurature  Windspeed Event
3  1/4/2017           24          7  Snow

In [39]:
df['Day'][df.Tempurature == df.Tempurature.max()]

1    1/2/2017
Name: Day, dtype: object

In [40]:
df[['Day','Tempurature']][df.Tempurature == df.Tempurature.max()]

        Day  Tempurature
1  1/2/2017           35

In [41]:
df

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [42]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [44]:
df.set_index('Day') #It does't change the actuall data set

          Tempurature  Windspeed  Event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [54]:
df.set_index('Day', inplace = True) # It change in actual data set

In [55]:
df

          Tempurature  Windspeed  Event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [56]:
df

          Tempurature  Windspeed  Event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [57]:
df.loc['1/3/2017']

Tempurature      28
Windspeed         2
Event          Snow
Name: 1/3/2017, dtype: object

In [58]:
df.reset_index(inplace = True) # Reset the index in actuall data set

In [59]:
df

        Day  Tempurature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [61]:
df.set_index('Event', inplace = True)

In [62]:
df

            Day  Tempurature  Windspeed
Event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [63]:
df.loc['Snow']

            Day  Tempurature  Windspeed
Event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7